<i><h1>List of Users</h1></i>
<% @users = User.all %>
<% @users.each do |user| %>
  <%= user.names %><br/>
  <%= user.email %><br/>
  <%= user.user_role %><br/>
  <%= user.reguratory_body %><br/>
  <%= user.level %><br/>
  <%= user.availabity_hour %><br/>
  <%= user.province %><br/>
  <%= user.district %><br/>
  <%= user.sector %><br/>
  <%= user.cell %><br/>
  <%= user.gender %><br/>
  <%= user.working_place %><br/>
  <%= link_to "Download", user.apload_diploma_url %><br/>
  <%= link_to "Download", user.apload_cv_url %><br/>
  <% if user.image_url %>
     <%= image_tag user.image_url, style:"width:100px;height:100px;" %>
  <% end %><br/>
  <%= user.phone %><br/>
<% end %>